#title{
    text-align: center;
}

.container{
    max-width: 30vw;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.button{
    height: 10vh;
    width: 10vh;
    font-size: xx-large;
    margin: 1.5px 0;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    background-color: bisque;
}

.text{
    margin: 10px 0;
    padding: 8px 63px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}